.container {
  max-width: 45vw;
  margin: 20vh auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: -45%;
}
.age label {
  margin-left: -47%;
}
.tax label {
  margin-left: -43%;
}
input,
select,
button {
  padding: 1vh;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  width: 25vw;
}
#ageGroup {
  width: 25vw;
  margin-left: -3%;
}
.tooltip {
  width: calc(100% - 20px);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 30px;
  border: none;
  width: 60%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 18px;
  cursor: pointer;
  width: auto;
  top: 54%;
}

.modal-content p {
  margin-bottom: 20px;
  text-align: center;
}

.close:hover,
.close:focus {
  color: black;
}

#result {
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toaster {
  position: fixed;
  top: 8vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c91010;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
}
